<h1><center>Project Akhir Python OOP</center></h1>
<h2><center>Pemrograman 2</center></h2>
<h3><center>Dosen Pengampu Tri Hadiah Muliawati</center></h3>

<img src="logo pens.png" 
        alt="Picture" 
        width="380" 
        height="380" 
        style="display: block; margin: 0 auto" />

<h3><center>Wahyu Ikbal Maulana</center></h3>

<h3><center>3323600056</center></h3>

<h3><center>D3 SDT B</center></h3>

<h1><center>Politeknik Elektronika Negeri Surabaya</center></h1>

##### Link Youtube: https://youtu.be/IMvZqmc6Q08
##### Link Github: https://github.com/wahyudesu/Student-Management-PENS-Python-OOP-Project

## <b><span style='color:#FA5E3C'>|</span> Inisiasi Database</b>

In [ ]:
import sqlite3
import pandas as pd

# Dataframe
data = {
    'Nama': ['Ani', 'Budi', 'Cici', 'Dedi', 'Euis', 'Fafa', 'Gigi', 'Hadi', 'Ina', 'Joko', 'Kiki', 'Lala', 'Mimi', 'Nana', 'Opi', 'Pipi', 'Qiqi', 'Riri', 'Sisi', 'Titi', 'Uci', 'Vivi', 'Wati', 'Xena', 'Yuni', 'Zara'],
    'NIM': ['12345', '67890', '54321', '13579', '24680', '35791', '46802', '57913', '68024', '79135', '80246', '91357', '02468', '13579', '24680', '35791', '46802', '57913', '68024', '79135', '80246', '91357', '02468', '13579', '24680', '35791'],
    'Gender': ['Perempuan', 'Laki-laki', 'Perempuan', 'Laki-laki', 'Perempuan', 'Laki-laki', 'Perempuan', 'Laki-laki', 'Perempuan', 'Laki-laki', 'Perempuan', 'Laki-laki', 'Perempuan', 'Laki-laki', 'Perempuan', 'Laki-laki', 'Perempuan', 'Laki-laki', 'Perempuan', 'Laki-laki', 'Perempuan', 'Laki-laki', 'Perempuan', 'Laki-laki', 'Perempuan', 'Laki-laki'],
    'Kontak': ['08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789', '08123456789'],
    'Jurusan': ['IT', 'ELEKTRO', 'DS', 'TELKOM', 'GAME', 'IT', 'ELEKTRO', 'DS', 'TELKOM', 'GAME', 'IT', 'ELEKTRO', 'DS', 'TELKOM', 'GAME', 'IT', 'ELEKTRO', 'DS', 'TELKOM', 'GAME', 'IT', 'ELEKTRO', 'DS', 'TELKOM', 'GAME', 'IT'],
    'Semester': [8, 6, 4, 8, 4, 8, 6, 4, 8, 4, 8, 6, 4, 8, 6, 4, 8, 6, 4, 8, 6, 4, 8, 6, 4, 8],
    'UTS': [75, 80, 85, 88, 85, 80, 85, 80, 85, 90, 75, 80, 85, 80, 85, 80, 85, 78, 85, 90, 75, 80, 85, 80, 85, 80],
    'UAS': [95, 90, 85, 90, 95, 90, 100, 90, 95, 90, 95, 90, 85, 90, 95, 90, 100, 90, 95, 90, 95, 90, 85, 90, 95, 90]
}

# Membuat dataframe
df = pd.DataFrame(data)

# Menghubungkan ke database SQLite
conn = sqlite3.connect('mahasiswa.db')

# Menyimpan dataframe ke dalam database SQLite
df.to_sql('mahasiswa', conn, if_exists='replace', index=False)

# Menutup koneksi
conn.close()

<div style="border-radius: 10px; border: #0ea5e9 solid; padding: 15px; background-color: #ffffff00; font-size: 100%; text-align: left;">
    <b>üñäÔ∏è Analisis :</b> Kali ini untuk teknik time seriesnya menambahkan nilai NA untuk memperluas data deret waktu dengan nilai prediksi Simple moving average tadi.
</div>

In [ ]:
import streamlit as st
import matplotlib.pyplot as plt
import plotly.graph_objs as go
import seaborn as sns

# Menghubungkan ke database yang sudah ada
conn = sqlite3.connect('mahasiswa.db')
c = conn.cursor()

c.execute('''CREATE TABLE IF NOT EXISTS Mahasiswa
             (Nama TEXT, NIM TEXT, Gender TEXT, Kontak TEXT, Jurusan TEXT, Semester INTEGER, UTS INTEGER, UAS INTEGER)''')

<div style="border-radius: 10px; border: #0ea5e9 solid; padding: 15px; background-color: #ffffff00; font-size: 100%; text-align: left;">
    <b>üñäÔ∏è Analisis :</b> Kali ini untuk teknik time seriesnya menambahkan nilai NA untuk memperluas data deret waktu dengan nilai prediksi Simple moving average tadi.
</div>

## <b><span style='color:#FA5E3C'>|</span> OOP Python Class</b>

In [ ]:
# Python OOP
class Mahasiswa:
    # Encapsulation
    def __init__(self, name, nim, gender, kontak, uts, uas):
        self._name = name
        self._nim = nim
        self._gender = gender
        self._kontak = kontak
        self._uts = uts
        self._uas = uas

# Polymorphism
class D3(Mahasiswa):
    def __init__(self, name, nim, gender, kontak, uts, uas):
        # Inheritance
        super().__init__(name, nim, gender, kontak, uts, uas)
        self._lama_kuliah = 6
        self._program = ['IT', 'ELEKTRO']

    # Getter methods specific to D3
    def get_lama_kuliah(self):
        return self._lama_kuliah

    def get_program(self):
        return self._program

class D4(Mahasiswa):
    def __init__(self, name, nim, gender, kontak, uts, uas):
        super().__init__(name, nim, gender, kontak, uts, uas)
        self._lama_kuliah = 8
        self._program = ['IT', 'ELEKTRO','DS', 'TELKOM', 'GAME']

    # Getter methods specific to D4
    def get_lama_kuliah(self):
        return self._lama_kuliah

    def get_program(self):
        return self._program

class S2(Mahasiswa):
    def __init__(self, name, nim, gender, kontak, uts, uas):
        super().__init__(name, nim, gender, kontak, uts, uas)
        self._lama_kuliah = 4
        self._program = ['IT','ELEKTRO']

    # Getter methods specific to S2
    def get_lama_kuliah(self):
        return self._lama_kuliah

    def get_program(self):
        return self._program

<div style="border-radius: 10px; border: #0ea5e9 solid; padding: 15px; background-color: #ffffff00; font-size: 100%; text-align: left;">
    <b>üñäÔ∏è Analisis :</b> Kali ini untuk teknik time seriesnya menambahkan nilai NA untuk memperluas data deret waktu dengan nilai prediksi Simple moving average tadi.
</div>

## <b><span style='color:#FA5E3C'>|</span> Tambahan Fitur</b>

In [ ]:
# Fitur login
def creds_entered():
    list_user = ["admin"]
    list_passwd = ["admin"]
    if st.session_state["user"].strip() in list_user and st.session_state["passwd"].strip() in list_passwd:
        st.session_state["authenticated"] = True
    else:
        st.session_state["authenticated"] = False
        if not st.session_state["passwd"]:
            st.warning("Please enter password.")
        elif not st.session_state["user"]:
            st.warning("Please enter username.")
        else:
            st.error("Username/Password Salah :face_with_raised_eyebrow")

# user autentifikasi
def authenticate_user():
    if "authenticated" not in st.session_state:
        st.text_input(label='Username: ', value="", key="user", on_change=creds_entered)
        st.text_input(label='Password: ', value="", key="passwd", type="password", on_change=creds_entered)
        return False
    else:
        if st.session_state["authenticated"]:
            return True
        else:
            st.text_input(label='Username: ', value="", key="user", on_change=creds_entered)
            st.text_input(label='Password: ', value="", key="passwd", type="password", on_change=creds_entered)
            return False

<div style="border-radius: 10px; border: #0ea5e9 solid; padding: 15px; background-color: #ffffff00; font-size: 100%; text-align: left;">
    <b>üñäÔ∏è Analisis :</b> Kali ini untuk teknik time seriesnya menambahkan nilai NA untuk memperluas data deret waktu dengan nilai prediksi Simple moving average tadi.
</div>

In [ ]:

# Front End
st.title('üìöWEBSITE MANAJEMEN HIMIT‚úÖ')

if authenticate_user():
    # Input data
    pilihan_mahasiswa = st.radio('Pilih Mahasiswa', ['D3', 'D4', 'S2'])
    name = st.text_input('Nama Mahasiswa')
    nim = st.text_input('NIM Mahasiswa')
    gender = st.selectbox('Gender Mahasiswa', ['Laki-laki', 'Perempuan'])
    kontak = st.text_input('Kontak Mahasiswa')
    uts = st.number_input('Nilai UTS', min_value=0, max_value=100)
    uas = st.number_input('Nilai UAS', min_value=0, max_value=100)

    # Buat objek mahasiswa
    if pilihan_mahasiswa == 'D3':
        student = D3(name, nim, gender, kontak, uts, uas)
        jurusan = st.selectbox('Jurusan', student.get_program())
        semester = student.get_lama_kuliah()
    elif pilihan_mahasiswa == 'D4':
        student = D4(name, nim, gender, kontak, uts, uas)
        jurusan = st.selectbox('Jurusan', student.get_program())
        semester = student.get_lama_kuliah()
    elif pilihan_mahasiswa == 'S2':
        student = D4(name, nim, gender, kontak, uts, uas)
        jurusan = st.selectbox('Jurusan', student.get_program())
        semester = student.get_lama_kuliah()

    list_mahasiswa = st.session_state.get('list_mahasiswa', [])
    
    # Button
    if st.button('Simpan Mahasiswa'):
        # Insert data into database
        c.execute("INSERT INTO Mahasiswa (Nama, NIM, Gender, Kontak, Jurusan, Semester, UTS, UAS) VALUES (?, ?, ?, ?, ?, ?, ?, ?)",
                  (name, nim, gender, kontak, jurusan, semester, uts, uas))
        conn.commit()

    # Retrieve data from database
    c.execute("SELECT * FROM Mahasiswa")
    rows = c.fetchall()

    # Show tabel
    df = pd.DataFrame(rows, columns=['Nama', 'NIM', 'Gender', 'Kontak', 'Jurusan', 'Total Semester', 'Nilai UTS', 'Nilai UAS'])
    st.table(df)
    
    # Show plot visualization
    if st.button('Plot Nilai UTS UAS'):
        # Plot 1: Rata-rata Nilai UTS dan UAS Tiap Total Semester
        rata_rata_nilai = df.groupby('Total Semester')[['Nilai UTS', 'Nilai UAS']].mean().reset_index()
        fig1 = go.Figure()

        fig1.add_trace(go.Bar(
            x=rata_rata_nilai['Total Semester'].replace({4: 'S2', 6: 'D3', 8: 'D4'}),
            y=rata_rata_nilai['Nilai UTS'],
            name='Rata-rata UTS',
            marker_color='blue'
        ))

        fig1.add_trace(go.Bar(
            x=rata_rata_nilai['Total Semester'].replace({4: 'S2', 6: 'D3', 8: 'D4'}),
            y=rata_rata_nilai['Nilai UAS'],
            name='Rata-rata UAS',
            marker_color='red'
        ))

        fig1.update_layout(
            title='Rata-rata Nilai UTS dan UAS Tiap Total Semester',
            xaxis_title='Jenjang Pendidikan',
            yaxis_title='Rata-rata Nilai',
            barmode='group'
        )
        st.plotly_chart(fig1)
        
        # Plot 2: Jumlah Mahasiswa per Jurusan
        plt.figure(figsize=(10, 6))
        sns.countplot(x='Jurusan', data=df, color='red')
        plt.title('Jumlah Mahasiswa per Jurusan')
        plt.xlabel('Jurusan')
        plt.ylabel('Jumlah Mahasiswa')
        plt.gca().patch.set_alpha(0)  # Set background to transparent
        st.pyplot(plt.gcf())

        # Plot 3: Distribusi Penyebaran Nilai UTS dan UAS
        trace_uts = go.Histogram(x=df['Nilai UTS'], name='UTS', opacity=0.75)
        trace_uas = go.Histogram(x=df['Nilai UAS'], name='UAS', opacity=0.75)

        layout = go.Layout(
            title='Distribusi Penyebaran Nilai UTS dan UAS',
            xaxis=dict(title='Nilai', showgrid=False),
            yaxis=dict(title='Jumlah Mahasiswa', showgrid=False),
            bargap=0.2,
            bargroupgap=0.1
        )

        fig2 = go.Figure(data=[trace_uts, trace_uas], layout=layout)
        st.plotly_chart(fig2)
conn.close()

<div style="border-radius: 10px; border: #0ea5e9 solid; padding: 15px; background-color: #ffffff00; font-size: 100%; text-align: left;">
    <b>üñäÔ∏è Analisis :</b> Kali ini untuk teknik time seriesnya menambahkan nilai NA untuk memperluas data deret waktu dengan nilai prediksi Simple moving average tadi.
</div>

# Terima kasih